/*
	style.css
	by Konrad Nowakowski
*/

body {
	background: black;
	margin: 0;
	padding: 0;
	
	overflow: hidden;
}

/*
	
*/
.overdose {
	margin-top: -45px;
	text-align: center;
	font-family: monospace;
	font-size: 9pt;
	color: white;
	
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
}

/*
	Common game canvas.
	Disables linear interpolation, nearest neightbor used instead.
*/
canvas {
	display: block;
	
	/* up-scale */
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(4, 4);
	transform: scale(4, 4);
	
	/* nearest neightbor interpolation */
	image-rendering: -moz-crisp-edges;
	image-rendering:   -o-pixelated;
	image-rendering: -webkit-pixelated;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	
	/* pos-fix */
	position: absolute;
	left: 0;
	top: 0;
}
